body,
div,
span,
a,
p {
  font-family: "Inter";
}

body {
  margin: 0;
  font-family: "Inter";
}

a,
p {
  margin: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}
a:focus {
  outline: none;
}

body {
  overflow: hidden;
  background-color: #DAF2FF;
}
body header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header-flex-left {
  display: flex;
  align-items: center;
  margin-left: 14px;
}
body header .header-flex-left .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
body header .header-flex-left p {
  font-size: 16px;
  font-weight: bold;
  color: #3E4B6D;
}
body header .header-flex-right {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
body header .header-flex-right .icon-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
body header .header-flex-right .account-container {
  width: 28px;
  height: 28px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  margin-right: 16px;
  background-image: url("./icon_test.png");
  background-size: cover;
}
body header .header-flex-right #hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
body header #sp-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  width: 100vw;
  height: 100dvh;
  transition: 0.4s all ease;
}
body header #sp-nav .sp-nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(30, 39, 44, 0.9);
}
body header #sp-nav .sp-nav-upper {
  width: 100%;
}
body header #sp-nav .sp-nav-upper .close-btn-container {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  padding: 10px 15px;
}
body header #sp-nav .sp-nav-upper .close-btn-container svg {
  height: 100%;
  width: auto;
}
body header #sp-nav .sp-nav-upper .sp-nav-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}
body header #sp-nav .sp-nav-upper .sp-nav-item svg {
  height: 100%;
  width: auto;
  margin-right: 10px;
}
body header #sp-nav .sp-nav-upper .sp-nav-item p {
  font-size: 20px;
  line-height: 20px;
  color: white;
  white-space: nowrap;
}
body header #sp-nav .sp-nav-upper .sub-item-container {
  margin-left: 40px;
}
body header #sp-nav .sp-nav-upper .sub-item-container .sub-item {
  height: 0px;
  display: flex;
  align-items: center;
  opacity: 0;
}
body header #sp-nav .sp-nav-upper .sub-item-container .sub-item svg {
  height: 0px;
  width: auto;
  margin-right: 10px;
  transition: 0.3s ease all;
}
body header #sp-nav .sp-nav-upper .sub-item-container .sub-item p {
  font-size: 0px;
  line-height: 0px;
  color: white;
  white-space: nowrap;
}
body header #sp-nav .sp-nav-upper .open .sub-item {
  height: 32px;
  opacity: 1;
}
body header #sp-nav .sp-nav-upper .open .sub-item svg {
  height: 24px;
}
body header #sp-nav .sp-nav-upper .open .sub-item p {
  font-size: 16px;
  line-height: 16px;
}
body header #sp-nav .sp-nav-closer {
  height: 100%;
  width: 20%;
}
body main {
  background-color: #EDF8FF;
  width: 96%;
  border-radius: 16px;
  height: calc(100svh - 110px);
  margin: 0 auto;
}
body main .page-header {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .page-header .page-header-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
body main .page-header #calender-icon {
  width: 24px;
}
body main .page-header label {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 10px;
}
body main .page-header label svg {
  height: 100%;
  position: absolute;
}
body main .page-header input[type=date] {
  width: 24px;
  height: 24px;
  border: none;
  background-color: initial;
  position: relative;
  padding: 0;
  outline: none;
}
body main .page-header input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: transparent;
  z-index: 1;
}
body main .page-header input[type=date]::-webkit-datetime-edit {
  display: none;
}
body main .page-header .caret {
  width: 8px;
  display: flex;
  align-items: center;
}
body main .page-header #my-date {
  color: #3E4B6D;
  font-size: 12px;
  padding: 0 8px;
}
body main .page-header #selectbox-column {
  height: 28px;
  width: 100px;
  background-color: #EDF8FF;
  padding: 4px 8px;
  margin: 0;
  color: #3E4B6D;
  border: none;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}
body main .main-content-wrapper {
  height: calc(98% - 50px);
  overflow: scroll;
  width: 98%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body main .main-content-wrapper::-webkit-scrollbar {
  display: none;
}
body main .main-content {
  border-collapse: collapse;
  writing-mode: vertical-lr;
  border-spacing: 0px;
}
body main .main-content tr:first-of-type th,
body main .main-content tr:first-of-type td {
  width: 60px;
  height: 100%;
}
body main .main-content tr:first-of-type .cell {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 12px;
}
body main .main-content th,
body main .main-content td {
  writing-mode: horizontal-tb;
  width: 140px;
  height: 42px;
  vertical-align: middle;
  border: none;
  padding: 0;
}
body main .main-content th .cell-container,
body main .main-content td .cell-container {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-bottom: none;
  border-right: none;
}
body main .main-content th span,
body main .main-content td span {
  display: block;
  height: 16.6666666667%;
  width: 100%;
  border-bottom: 1px dashed #e2e2e2;
  box-sizing: border-box;
}
body main .main-content th span:first-of-type,
body main .main-content td span:first-of-type {
  border-radius: 6px 0px 0px 0px;
}
body main .main-content th span:last-of-type,
body main .main-content td span:last-of-type {
  border: none;
}
body main .main-content tr {
  position: relative;
}
body main .main-content tr .point {
  height: 0px;
}
body main .main-content tr .point .cell-container {
  border: none;
}
body main .main-content tr .ope-card {
  position: absolute;
  width: inherit;
  border-radius: 6px;
  background-color: #B9F2FF;
  box-shadow: inset -1px -1px 2px 1px rgba(0, 0, 0, 0.1);
}
body main .main-content tr .ope-card .status-icon {
  position: absolute;
  right: 4px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #8CFF98;
}
body main .main-content tr .ope-card .status-icon svg {
  width: 80%;
}
body main .main-content tr .ope-card .ope-item-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}
body main .main-content tr .ope-card .ope-item-container svg {
  height: 18px;
  margin-left: 2px;
}
body main .main-content tr .ope-card .ope-item-container .ope-customer-name {
  font-size: 10px;
  line-height: 18px;
  margin-left: 4px;
}
body main .main-content tr:nth-of-type(2) td:nth-of-type(2) .cell-container {
  border-radius: 6px 0px 0px 0px;
}
body main .main-content tr:nth-of-type(2) td:last-of-type .cell-container {
  border-radius: 0px 0px 0px 6px;
  border-bottom: 1px solid lightgray;
}
body main .main-content tr:first-of-type .fixed01:first-of-type {
  z-index: 3;
  background-color: initial;
}
body main .main-content tr:first-of-type .fixed01:first-of-type .pad-container {
  width: 100%;
  height: 100%;
}
body main .main-content tr:first-of-type .fixed01:first-of-type .pad {
  width: calc(100% + 30px);
  background: #EDF8FF;
  height: calc(100% - 12px);
}
body main .main-content tr:first-of-type th:first-of-type {
  background: linear-gradient(to bottom, #edf8ff 50%, rgba(237, 248, 255, 0) 50%);
}
body main .main-content tr td:last-of-type .cell-container {
  border-bottom: 1px solid lightgray;
}
body main .main-content tr:last-of-type td .cell-container {
  border-right: 1px solid lightgray;
}
body main .main-content tr:last-of-type td:first-of-type .cell-container {
  border-radius: 0px 6px 0px 0px;
}
body main .main-content tr:last-of-type td:last-of-type .cell-container {
  border-radius: 0px 0px 6px 0px;
}
body main .main-content .fixed01,
body main .main-content .fixed02 {
  position: sticky;
  top: 0;
  left: 0;
  background: #EDF8FF;
}
body main .main-content .fixed01 .cell,
body main .main-content .fixed02 .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -6px;
  font-size: 12px;
  height: 32px;
  color: #3E4B6D;
}
body main .main-content .fixed01 {
  z-index: 2;
}
body main .main-content .fixed02 {
  z-index: 1;
}
body main #timesheet-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
}
body main #timesheet-container .timesheet-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #EDF8FF;
  height: 30px;
  width: inherit;
}
body main #timesheet-container .timesheet-header p {
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  border-left: 1px solid #000;
  box-sizing: border-box;
  white-space: nowrap;
}
body main #timesheet-container .timesheet-header .nurse {
  border: none;
  text-align: left;
}
body main #timesheet-container .time-bar-container {
  width: 50px;
}
body main #timesheet-container .time-bar-container .time-bar {
  width: 100%;
  margin-top: 30px;
}
body main #timesheet-container .time-bar-container .time-bar .time {
  height: 42px;
  color: #3E4B6D;
  font-size: 14px;
  line-height: 14px;
}
body main #timesheet-container #nurse-timesheet-container {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body main #timesheet-container #nurse-timesheet-container::-webkit-scrollbar {
  display: none;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  margin-top: 30px;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column {
  height: 100%;
  width: 10px;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column .timesheet-cell {
  width: 100%;
  height: 7px;
  border: 1px dashed #e2e2e2;
  box-sizing: border-box;
  border-collapse: collapse;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column:first-of-type .timesheet-cell:first-of-type {
  border-radius: 4px 0 0 0;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column:first-of-type .timesheet-cell:last-of-type {
  border-radius: 0 0 0 4px;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column:last-of-type .timesheet-cell:first-of-type {
  border-radius: 0 4px 0 0;
}
body main #timesheet-container #nurse-timesheet-container .nurse-timesheet .timesheet-column:last-of-type .timesheet-cell:last-of-type {
  border-radius: 0 0 4px 0;
}
body main #timesheet-container #hundle {
  width: 25px;
  display: flex;
  justify-content: center;
}
body main #timesheet-container #hundle .picker {
  width: inherit;
  position: fixed;
  top: 30vh;
  display: flex;
  justify-content: center;
}
body main #timesheet-container #hundle .picker svg {
  width: 45%;
}
body main #timesheet-container #ope-timesheet-container {
  width: calc(100% - 50px);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body main #timesheet-container #ope-timesheet-container::-webkit-scrollbar {
  display: none;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container {
  height: 100%;
  width: 100px;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container .timesheet-column {
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  margin-top: 30px;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container .timesheet-column .timesheet-cell {
  width: 100%;
  height: 7px;
  border: 1px dashed #e2e2e2;
  box-sizing: border-box;
  border-collapse: collapse;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container:first-of-type .timesheet-cell:first-of-type {
  border-radius: 4px 0 0 0;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container:first-of-type .timesheet-cell:last-of-type {
  border-radius: 0 0 0 4px;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container:last-of-type .timesheet-cell:first-of-type {
  border-radius: 0 4px 0 0;
}
body main #timesheet-container #ope-timesheet-container .ope-timesheet .timesheet-column-container:last-of-type .timesheet-cell:last-of-type {
  border-radius: 0 0 4px 0;
}
body footer {
  text-align: center;
}
body footer p {
  color: white;
  font-size: 8px;
  line-height: 8px;
  margin-bottom: 10px;
}
body footer .footer-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
body footer .footer-item-container .divider {
  display: block;
  margin: 0 8px;
}
body footer .footer-item-container a {
  color: white;
  font-size: 11px;
  line-height: 11px;
  outline: none;
}
body .footer-controller-panel {
  height: 45px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDF8FF;
  box-shadow: 0px -1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
}
body .footer-controller-panel .item {
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
body .footer-controller-panel .item svg {
  width: 100%;
}
body .footer-controller-panel .item p {
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}/*# sourceMappingURL=new_system_index.css.map */